<br><row><a href="<%= items_path %>" class="btn btn-primary pull-left" style="display:inline-block">Back to Listings</a>
<a href="<%= new_item_path %>" class="btn btn-success pull-right">Add New Item</span></a></row><br><br>
<br><br>
<div class="text-center center-block">
  <% if @item.item_pic.present? %>  
      <%= image_tag(@item.item_pic.url(:medium), :class => "img-thumbnail") %>
      <br/>
  <% end %>

  <h1><%= @item.name %> </h1>
  <h3> Price: $ <%= @item.price %> </h3>
  <h5> Description: <%= @item.description %> </h5>

  <br><br>
  <% if current_user.id == @item.user_id %>
    <a href="<%= edit_item_path(@item) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
    <a href="<%= item_path(@item) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
     <br><br>
  <% end %>

</div>
