<h1 class="text-center">Category List</h1>
<hr />

<% if current_user.membership == 1 %>
  <row><a href="<%= root_path %>" class="btn btn-primary pull-left" style="display:inline-block">Back to Home</a>
  <a href="<%= new_cat_path %>" class="btn btn-success pull-right" style="display:inline-block">Add New Category</span></a></row><br><br><br>
<% end %>

<div class="list-group">
  <% @cats.each do |cat| %>
    <div class="text-center">
      <button type="button" class="catButton" style="font-color:black"><%= link_to cat.name, cat_path(cat.id) %>
        <% if current_user.membership == 1 %>
          <div class="pull-right">
            <a href="<%= edit_cat_path(cat) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
            <a href="<%= cat_path(cat) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        <% end %>
      </button>
      <br /><br />
    </div>
  <% end %>
</div>
