<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
      <row>
        <%= image_tag "classy.png", width: "25%", height:"auto", justify: "left", display: "inline-block" %>
        <ul class="nav navbar-nav navbar-right" style="display: inline-block">
          <li><%= link_to('Home', root_path, class: "header-font") %></li> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to('See All', cats_path, class: "header-font") %></li>
              <li><%= link_to('Create New', new_cat_path, class: "header-font") %></li>
            </ul>
          </li> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to('See All', items_path, class: "header-font") %></li>
              <li><%= link_to('Create New', new_item_path, class: "header-font") %></li>
            </ul>
          </li> 
        </ul>     
      </row>
      </div>
    </div>
  </div>
</nav>
